body {
    background-color: #5890b1;
    font-family: sans-serif;
}

li {
    list-style: disc;
}

h1, h2, h3, h4, h5, h6 {
    color:white;
}

label {
    font-style: italic;
}
input[type=submit] {
    background-color: #ff005a;
    color:black;
}
